.form {
  text-align: right;
}

.form input {
  border-radius: 3px;
  border: 1px solid black;
  padding-right: 0px;
  margin-bottom: 10px;
  margin-left: 5px;
}
.form button {
  font: inherit;
  cursor: pointer;
  background-color: #ec3437;
  border: none;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #641e03;
  border-color: #641e03;
}
